
run = "python backend/main.py"
modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
root = "./frontend"
build = ["npm run build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 8000
externalPort = 80
